html {
    height: 100%;
  }

body {
    background-color:rgb(238, 238, 238)
}

main {
    display: flex;
    justify-content: space-around;
    margin: 37.5vh 10vw;
}

.landingButton {
    width: 300px;
    height: 100px;
}

button {
    font-family: Cambria;
    font-size: 15px;
    border: 1px solid black;
    padding: 3px 0;
}
  
button:hover {
    background-color: skyblue;
    cursor: pointer;
}