html {
    height: 100%;
}

body {
    background-color:rgb(238, 238, 238)
}

#rules {
    width: 70vw;
    font-family: Arial;
    font-size: 20px;
    margin: 27.5vh auto 13px;
    border: 1px solid black;
    padding: 15px;
    box-sizing: border-box;
}

button {
    font-size: 15px;
    border: 1px solid black;
    padding: 3px 0;
}

button:hover {
    background-color: skyblue;
    cursor: pointer;
}

#startButton {
    display: block;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.number {
    text-align: center;
    font-family: Arial;
    font-size: 200px;
    margin: 30vh auto;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.form {
    margin-top: 40vh;
}

input {
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    height: 25px;
    width: 200px;
    font-size: 19px;
    text-align: center;
}

#saveButton {
    margin: 13px auto;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}

.results {
    text-align: center;
    font-family: Arial;
    font-size: 100px;
    margin: 30vh auto;
}

